/* overall look */
html,
body {
  color: #fff;
  font-family: Helvetica, Arial;
  text-align: justify;
  width: 100%;
  min-height: 70vh;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  overflow-x: hidden;
}

/*background color of all pages except splash page*/
.bgcolor {
  background-color: #000;
}

/* overall look */
/****************************************************************/
/* splash page */
@keyframes bgcolor {
  0% {
      background-color: #000000
  }

  45% {
      background-color:  #DEB4C9
  }

  60% {
      background-color: #86AAE5
  }

  75% {
      background-color: #A0B79B
  }

  100% {
      background-color: #000000
  }
}

.index-body {
  -webkit-animation: bgcolor 30s infinite;
  animation: bgcolor 30s infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}
/****************************************************************/
/*loading animation*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f5f5f5; */
  /* background-color: #181818; */
  transition: opacity 0.21s, visibility 0.75s;
  z-index: 9999;

  /*glassmorphism*/
  background: rgba( 245, 245, 245, 0.6 );
  backdrop-filter: blur( 21px ); /*21px*/
  -webkit-backdrop-filter: blur( 21px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.loader .dot {
  position: relative;
  width: 1.2em;
  height: 1.2em;
  margin: 0.3em;
  border-radius: 50%;
}
.loader .dot::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: wave 2s ease-out infinite;
}
.loader .dot:nth-child(1) {
  /* background: #E7CAD9; */
  background: #DEB4C9;
}
.loader .dot:nth-child(1)::before {
  animation-delay: 0.2s;
}
.loader .dot:nth-child(2) {
  /* background: #aac3ec; */
  background: #86AAE5;
}
.loader .dot:nth-child(2)::before {
  animation-delay: 0.4s;
}
.loader .dot:nth-child(3) {
  /* background: #bcccb9; */
  background: #A0B79B;
}
.loader .dot:nth-child(3)::before {
  animation-delay: 0.6s;
}

.loader::after{
  content: "";
  outline: 1px solid transparent;
  animation: wave 1.2s ease-in-out infinite;
}

.loader-hidden{
  opacity: 0;
  visibility: hidden;
}

@keyframes wave {
  50%, 75% {
    transform: scale(3.0);
  }
  80%, 100% {
    opacity: 0;
  }
}
/****************************************************************/
/*web scroller*/
/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 30px;
  scroll-behavior: smooth;
  overflow: auto;
  border-radius: 18px;
  z-index: 1;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  scroll-behavior: smooth;
  overflow: auto;
  z-index: 1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  opacity: .1;
  scroll-behavior: smooth;
  overflow: auto;
  z-index: 1;
}
/****************************************************************/
/*index.html*/

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  height: 100vh;
  box-sizing: border-box;
  position: absolute;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.left {
  left: 0;
}
.left-bg {
  background-image: url("../images/younggardener.jpg");
  /* Full height */
  height: 100%;
  overflow-y: hidden; 
  overflow-x: clip; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .3;
  width: 100%;
  overflow-y: hidden;
}
.right {
  right: 0;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*split index.html half*/
/****************************************************************/
/* timezone clocks */
.flex {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}
.childcity {
  /* flex: 1 1 calc(10% - 8px); */
  height: 50%;
  width: auto;
  display: block;
  letter-spacing: -2px;
  margin-bottom: .9rem;
}
.childcity .citynameNY { /*also includes seoul*/
  background: #FFFFFF;
  background: linear-gradient(to right, #FFFFFF 0%, #99F3FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 0;
}
.clock {
  text-align: center;
  margin-bottom: 0rem;
}
.cityname {
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}
.cityname .clock {
  text-align: center;
}
.container-fluid-timezone {
  width: 100%;
  left: 50%;
  top: 50%;
  visibility: hidden;
  opacity: 0;
  animation: toggleTimezoneClock 30s infinite;
}
.container-fluid-timezone-mobile {
  display: none;
}
/*korean text on timezone clocks*/
#kr-newyork {
  color: #fff;
  font-size: 17.1px;
}
#kr-newyork:after {
  content: "";
  animation: kr-newyork 24s linear infinite;
}
@keyframes kr-newyork {
  0% {content: "뉴욕";}
  50% {content: "NEWYORK";}
  100% {content: "뉴욕";}
}
#kr-seoul {
  color: #fff;
  font-size: 17.1px;
}
#kr-seoul:after {
  content: "";
  animation: kr-seoul 24s linear infinite;
}
@keyframes kr-seoul {
  0% {content: "서울";}
  50% {content: "SEOUL";}
  100% {content: "서울";}
}
#kr-beirut {
  color: #fff;
  font-size: 17.1px;
}
#kr-beirut:after {
  content: "";
  animation: kr-beirut 30s linear infinite;
}
@keyframes kr-beirut {
  0% {content: "BEIRUT";}
  50% {content: "베이루트";}
  100% {content: "BEIRUT";}
}
#kr-london {
  color: #fff;
  font-size: 17.1px;
}
#kr-london:after {
  content: "";
  animation: kr-london 32s linear infinite;
}
@keyframes kr-london {
  0% {content: "런던";}
  50% {content: "LONDON";}
  100% {content: "런던";}
}
#kr-sydney {
  color: #fff;
  font-size: 17.1px;
}
#kr-sydney:after {
  content: "";
  animation: kr-sydney 30s linear infinite;
}
@keyframes kr-sydney {
  0% {content: "SYDNEY";}
  50% {content: "시드니";}
  100% {content: "SYDNEY";}
}
#kr-hongkong {
  color: #fff;
  font-size: 17.1px;
}
#kr-hongkong:after {
  content: "";
  animation: kr-hongkong 30s linear infinite;
}
@keyframes kr-hongkong {
  0% {content: "HONGKONG";}
  50% {content: "홍콩";}
  100% {content: "HONGKONG";}
}
#kr-paris {
  color: #fff;
  font-size: 17.1px;
}
#kr-paris:after {
  content: "";
  animation: kr-paris 32s linear infinite;
}
@keyframes kr-paris {
  0% {content: "PARIS";}
  50% {content: "파리";}
  100% {content: "PARIS";}
}
#kr-losangeles {
  color: #fff;
  font-size: 17.1px;
}
#kr-losangeles:after {
  content: "";
  animation: kr-losangeles 42s infinite;
}
@keyframes kr-losangeles {
  0% {content: "LOSANGELES";}
  50% {content: "로스앤젤레스";}
  100% {content: "LOSANGELES";}
}
/*korean text on timezone clocks*/

/* timezone clocks */
/****************************************************************/
/* navbar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidenav{
  padding: 20px 15px;
  width: 15%;
  height: 100%;
  transition-delay: 0.3s;
  transition: 0.5s ease-in-out;
  position: absolute;
  z-index: 9999;
  position: fixed;
}

.active .sidenav {
  transition: 0.5s ease-in-out;
  height: 100vh;
  width: 33%;
  position: fixed;
  /*glassmorphism*/
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  border-radius: 0px 10px 10px 0px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.btn {
  font-size: 145%;
  border: solid 1px none;
  border-radius: 21px;
  padding: 3.3px 18px 3.3px 18px;
  letter-spacing: -12.1px;
  letter-spacing: 0.3em;

  /*glassmorphism*/
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.btn:hover,
.btn:focus,
.btn:active {
  /* border: solid 1px #99F3FF; */
  background: rgba( 255, 255, 255, 0.3 );
  opacity: .9;
  transition: 0.3s;
  padding: 3.6px 18px 3.6px 18px;
}

@keyframes bgcolor {
  0% {
      background-color: #000000
  }

  45% {
      background-color:  #DEB4C9
  }

  60% {
      background-color: #86AAE5
  }

  75% {
      background-color: #A0B79B
  }

  100% {
      background-color: #000000
  }
}

.index-body {
  -webkit-animation: bgcolor 30s infinite;
  animation: bgcolor 30s infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}

.items {
  padding: 45px 0;
  display: none;
}

.active .items{
  display: block;
}

.items ul {
  list-style: none;
}

.items ul li {
  margin: 15px 0;
  display: block;
  height: 45px;
  transition: 0.5s ease-in;
  width: 100%;
  font-size: 16px;
  letter-spacing: 1px;
}

.items li a {
  font-family: "Poppins";
  background: -webkit-linear-gradient(right, #99F3FF, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  color: #fff;
  font-size: 39px;
  padding: 0 10px;
  letter-spacing: 1px;
}

.hello a:hover {
  /* background: rgba( 51, 51, 51, 0.3 ); */
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 3px solid rgba( 255, 255, 255, 0.18 );
}

.portfolio a:hover {
  /* background: rgba( 51, 51, 51, 0.3 ); */
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 3px solid rgba( 255, 255, 255, 0.18 );
}

.social-media a:hover {
  /* background: rgba( 51, 51, 51, 0.3 ); */
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 3px solid rgba( 255, 255, 255, 0.18 );
}

/*sfumato animation bottom of navbar*/
#sfumato {
  position:absolute;
  width:600px;
  height:36px;
  left:9%;
  top:90vh;
  margin-left:-300px;
  overflow:visible;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
}

#sfumato div {
  position:absolute;
  width:20px;
  height:36px;
  opacity:0;
  font-family: "Poppins";
  animation:move 2s linear infinite;
  -o-animation:move 2s linear infinite;
  -moz-animation:move 2s linear infinite;
  -webkit-animation:move 2s linear infinite;
  transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  color:#FFF;
}

#sfumato div:nth-child(2) {
  animation-delay:0.2s;
  -o-animation-delay:0.2s;
  -moz-animation-delay:0.2s;
  -webkit-animation-delay:0.2s;
}
#sfumato div:nth-child(3) {
  animation-delay:0.4s;
  -o-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
}
#sfumato div:nth-child(4) {
  animation-delay:0.6s;
  -o-animation-delay:0.6s;
  -moz-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
}
#sfumato div:nth-child(5) {
  animation-delay:0.8s;
  -o-animation-delay:0.8s;
  -moz-animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
}
#sfumato div:nth-child(6) {
  animation-delay:1s;
  -o-animation-delay:1s;
  -moz-animation-delay:1s;
  -webkit-animation-delay:1s;
}
#sfumato div:nth-child(7) {
  animation-delay:1.2s;
  -o-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
}

@keyframes move {
  0% {
    left:0;
    opacity:0;
  }
	35% {
		left: 41%; 
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%; 
		-moz-transform:rotate(0deg); 
		-webkit-transform:rotate(0deg); 
		-o-transform:rotate(0deg);
		transform:rotate(0deg); 
		opacity:1;
	}
	100% {
		left:100%; 
		-moz-transform:rotate(-180deg); 
		-webkit-transform:rotate(-180deg); 
		-o-transform:rotate(-180deg); 
		transform:rotate(-180deg);
		opacity:0;
	}
}
@-moz-keyframes move {
	0% {
		left:0; 
		opacity:0;
	}
	35% {
		left:41%; 
		-moz-transform:rotate(0deg); 
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%; 
		-moz-transform:rotate(0deg); 
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%; 
		-moz-transform:rotate(-180deg); 
		transform:rotate(-180deg);
		opacity:0;
	}
}
@-webkit-keyframes move {
	0% {
		left:0; 
		opacity:0;
	}
	35% {
		left:41%; 
		-webkit-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	65% {
		left:59%; 
		-webkit-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	100% {
		left:100%;
		-webkit-transform:rotate(-180deg); 
		transform:rotate(-180deg); 
		opacity:0;
	}
}
@-o-keyframes move {
	0% {
		left:0; 
		opacity:0;
	}
	35% {
		left:41%; 
		-o-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	65% {
		left:59%; 
		-o-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	100% {
		left:100%; 
		-o-transform:rotate(-180deg); 
		transform:rotate(-180deg); 
		opacity:0;
	}
}
/****************************************************************/
/* textclock to timezone clock animation */
@keyframes toggleTextClock {
  0%, 49% {
    visibility: visible;
    opacity: 1;
  }
  50%, 51% {
    visibility: hidden;
    opacity: 0;
  }
  52%, 98% {
    visibility: hidden;
    opacity: 0;
  }
  99%, 100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes toggleTimezoneClock {
  0%, 49% {
    visibility: hidden;
    opacity: 0;
  }
  50%, 51% {
    visibility: visible;
    opacity: 1;
  }
  52%, 98% {
    visibility: visible;
    opacity: 1;
  }
  99%, 100% {
    visibility: hidden;
    opacity: 0;
  }
}
/****************************************************************/
/* text clock */
.container-fluid-textclock {
  padding: 8.5% 15% 0.7% 14.5%;
  width: 100%;
  left: 50%;
  top: 50%;
  margin-bottom: 19%;
  display: inline-block;
  visibility: visible;
  opacity: 1;
  animation: toggleTextClock 30s infinite;
}

p,
span {
  color: #333;
  transition: color 0.4s ease-out;
  -ms-transition: color 0.4s ease-out;
  -moz-transition: color 0.4s ease-out;
  -webkit-transition: color 0.4s ease-out;
  letter-spacing: 12.1px;
  font-size: 17px;
}

#midnight {
  color: #000;
  letter-spacing: 23px;
}

#it,
#is,
span.active {
  background: #FFFFFF;
  background: linear-gradient(to right, #FFFFFF 0%, #99F3FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.4s ease-out;
  -ms-transition: color 0.4s ease-out;
  -moz-transition: color 0.4s ease-out;
  -webkit-transition: color 0.4s ease-out;
}
#is:after {
  content: "";
}

#text-clock {
  width: 242px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

#line-1,
#line-1 span {
  letter-spacing: 13.9px;
}
#line-2,
#line-2 span {
  letter-spacing: 11.3px;
}
#line-7,
#line-7 span {
  letter-spacing: 11.8px;
}
#line-8,
#line-8 span {
  letter-spacing: 12.3px;
}
#line-9,
#line-9 span {
  letter-spacing: 11.6px;
}
#line-10,
#line-10 span {
  letter-spacing: 11.6px;
}

.hidden {
  display: none;
}
/* text clock */
/****************************************************************/
/* digitalcube.html */
.everything-digitalcubepage {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer-link {
  font-size: 290%;
  /* padding: 3.9px 18px 3.9px 18px; */
  padding: 0px 8px;
  position: fixed;
  bottom: 3%;
  right: 1.5%;
  z-index: 9000;
  /* border-radius: 21px; */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: solid 1px transparent;
  /* letter-spacing: -12.1px;
  letter-spacing: 0.3em; */
  text-align: center;

  /*glassmorphism*/
  transition: 0.3s;
  background: rgba( 255, 255, 255, .15);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
}

.footer-link:hover {
  background: rgba( 255, 255, 255, 0.3 );
  /* padding: 3.9px 18px 3.9px 18px; */
  text-decoration: none;
  transition: 0.3s;
}
/****************************************************************/
/* intro text and globe */
canvas {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
h1.top {
  top: 0;
  transform: translateX(-50%);
}
#main {
  opacity: 0;
  margin-top: -15%;
  transition: 0.5s;
  color: white;
}
#rect {
  overflow: visible;
  position: relative;
  left: 20px;
  transition: transform 0.2s linear;
}

#rectleft,
#rectright {
  transform: translateX(1px) translateY(1px);
  stroke-width: 2px;
  stroke: transparent;
  fill: transparent;
}
.container-fluid-globe {
  position: relative;
  padding: 0% 15% 0% 15%;
  width: 100%;
}
/****************************************************************/
/* composition page */
 .composition-section {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/****************************************************************/
/* questions bot page */
.questions-section {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/****************************************************************/
/*gallery*/
img { 
  max-width: 100%;
  height: auto;
  transform-origin: top left;
}

/* // #app {
//   padding-bottom: 330%;
// } */

.gallery {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  overflow: hidden;
  
  height: 318vw; /*Sized based on vw to expand properly 310vw*/
  
  .gallery-image {
    width: 33.3%;
    
    &[data-flipping] {
      opacity: 1;
      z-index: 3;
    }
  }

  /* Re-order items into rows */
  .gallery-image:nth-child(3n+1) { order: 1; }
  .gallery-image:nth-child(3n+2) { order: 2; }
  .gallery-image:nth-child(3n)   { order: 3; }

  /* Force new columns */
  &::before,
  &::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
  }
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
}

.gallery-image {
  margin: 0;
  display: block;
  position: relative;

  img {
    display: block;
    width: 100%;
  }
  
  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FFF;
    text-shadow: 0 0 1px #333;
    opacity: 0.8;
    padding: 1em;
    text-align: left;
    transition: opacity .4s linear;
    font-family: "Poppins";
  }
  
  &:hover figcaption {
    opacity: 1;
  }
}

.detail {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(25, 25, 25, 0);
  box-shadow: 0 0 30px #000;
  display: flex;
  pointer-events: none;
  transition: background .3s linear;

  .gallery-image {
    padding: 5vmin;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img { 
      width: auto;
      height: auto;
      max-width: 100%; 
      max-height: 100%; 
    }
    figcaption { display: none; }
  }
}

[data-state="detail"] .detail {
  opacity: 1; 
  background: rgba(0, 0, 0, 0.3);
  /* background: rgb(245, 245, 245, 0.6); */
  backdrop-filter: blur( 21px );
  -webkit-backdrop-filter: blur( 21px );
  pointer-events: auto;
  .gallery-image { opacity: 1; }
}

[data-state="gallery"] .detail {
  .gallery-image {
    opacity: 0;
    transition: none;
  }
}
/* ---------------------------------- */
/* body {
  background: black;
} */

#app {
  pointer-events: none;
  
  .gallery .gallery-image {
    pointer-events: auto;
  }
}

.gallery-image {
  transition: opacity .5s linear;
}

.gallery {
  .gallery-image { opacity: 0.9; }
  .gallery-image[data-flipping],
  .gallery-image:hover { 
    opacity: 1;
    transition-duration: .3s;
  }
}

/* #app:hover .gallery {
  .gallery-image { opacity: 0.9; }
  .gallery-image[data-flipping],
  .gallery-image:hover { 
    opacity: 1;
    transition-duration: .3s;
  }
} */
/****************************************************************/
/* now.html */
#clock-button {
  background: none;
  border: none;

  transform: translateX(100%);
}
/****************************************************************/
/****************************************************************/
/* phone responsive */
@media only screen and (max-width: 1028px) {
  html, body {
    height: 100vh;
  }
  /********************************/
  /*index.html*/
  /*index.html layout*/
  .column {
    width: 100%;
  }
  .left-bg {
    height: 112vh; /*90*/
    width: 100vw;
  }
  /*index.html layout*/
  /* timezone clocks */
  .flex {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    width: 100%;
  }
  /* textclock */
  #text-clock {
    max-height: 100%;
  }
  .container-fluid-textclock {
    width: 100%;
    display: none;
  }
  .container-fluid-timezone {
    font-size: 9px;
    letter-spacing: 9px;
    padding-bottom: 8%;
    display: none;
  }
  .container-fluid-timezone-mobile {
    display: grid;
    margin-top: 78vh; /*80vh*/
    padding-bottom: 9%;
  }
  .mobile-only {
    display: inline-flex;
  }
  /* globe */
  .container-fluid-globe {
    margin-top: -31vh;
    margin-bottom: -6%;
    overflow-x: hidden;
  }
  /*flexbox city times*/
  .childcity {
    padding: 0px 0px 21px 0px;
    margin-bottom: .6rem;
  }
  .citynameNY {
    /* padding: 0px 0px 15px 0px; */
    padding-bottom: 6px;
  }
  .cityname {
    padding-bottom: 6px;
    /* padding: 0px; */
     /*.6rem*/
  }
  .citynameNY {
    /* padding: 0px; */
    margin-bottom: 0.9rem;
    margin-bottom: .6rem; /*.6rem*/
  }
  p,
  span {
  letter-spacing: 9px;
  font-size: 15px;
}
  /*index.html*/
  /********************************/
  [data-state="detail"] .detail {
    opacity: 1; 
    /* background: rgba(0, 0, 0, 0.6); */
    background: rgb(245, 245, 245, 0.6);
  }
  /********************************/
  /* digitalcube.html */
  .dc-one {
    margin: 0;
    position: absolute;
    padding-top: 5%;
    top: 50%;
    left: 75%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9000;
  }
  .footer-link {
    font-size: 200%;
    right: 4.8%;
    bottom: 2.4%;
    letter-spacing: -0.001em;
    /* border-radius: 21px; */
    border-radius: 50%;
    letter-spacing: -12.1px;
    letter-spacing: 0.2em;
    width: 60px;
    height: 60px;
    padding: 0px 8px;

    /*glassmorphism*/
    /* background: rgba( 255, 255, 255, 0.15 ); */
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    /* backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px ); */
    /* border-radius: 0px 10px 10px 0px; */
    /* border: 1px solid #99F3FF; */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .footer-link:hover {
    font-size: 200%;
    /* border: solid 1px #99F3FF; */
    color: #000;
    border-radius: 50%;
    /*glassmorphism*/
    background: rgba( 255, 255, 255, 0.3 );
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    /* border-radius: 0px 10px 10px 0px; */
    /* border: 1px solid #99F3FF; */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  /********************************/
  /* navbar */
  .sidenav {
    width: 40%;
    height: 15%;
  }
  .active .sidenav {
    width: 100%;
    background: rgba( 51, 51, 51, 0.30 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 0px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .items li a {
    font-size: 21px;
    padding: 0 5px;
  }
  .items {
    animation: fadeInAnimation ease 1s;
  }
  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  .btn {
    font-size: 130%;
    letter-spacing: -12.1px;
    letter-spacing: 0.2em;
    border-radius: 21px;
    /*glassmorphism*/
    /* background: rgba( 255, 255, 255, 0.15 ); */
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    /* backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border: 1px solid rgba( 255, 255, 255, 0.18 ); */
  }
  .btn:hover,
  .btn:focus,
  .btn:active {
    /*glassmorphism*/
    background: rgba( 255, 255, 255, 0.15 );
    /* backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}
#sfumato {
  top: 87vh;
}
  /********************************/
  /*gallery*/
  .gallery {
    height: 317vw;
    .portfolio-image-one {
      animation: image-one 24s infinite ease-in;
    }
    .portfolio-image-two {
      animation: image-two 24s infinite linear;
    }
    .portfolio-image-three {
      animation: image-three 24s infinite linear;
    }
    .portfolio-image-four {
      animation: image-four 24s infinite linear;
    }
    .portfolio-image-five {
      animation: image-five 24s infinite linear;
    }
    .portfolio-image-six {
      animation: image-six 24s infinite linear;
    }
    .portfolio-image-seven {
      animation: image-seven 24s infinite linear;
    }
    .portfolio-image-eight {
      animation: image-eight 24s infinite linear;
    }
    .portfolio-image-nine {
      animation: image-nine 24s infinite linear;
    }
  }

  @keyframes image-one {
    0%, 2% {
      opacity: 1;
    }
    3%, 18% {
      opacity: 1;
    }
    19%, 20% {
      opacity: .9;
    }
    21%, 100% {
      opacity: .9;
    }
  }
  @keyframes image-two {
    0%, 18% {
      opacity: .9;
    }
    19%, 20% {
      opacity: 1;
    }
    21%, 29% {
      opacity: 1;
    }
    30%, 31% {
      opacity: .9;
    }
    32%, 100% {
      opacity: .9;
    }
  }
  @keyframes image-three {
    0%, 28% {
      opacity: .9;
    }
    29%, 30% {
      opacity: 1;
    }
    31%, 39% {
      opacity: 1;
    }
    40%, 41% {
      opacity: .9;
    }
    42%, 100% {
      opacity: .9;
    }
  }
  @keyframes image-four {
    0%, 38% {
      opacity: .9;
    }
    39%, 40% {
      opacity: 1;
    }
    41%, 49% {
      opacity: 1;
    }
    50%, 51% {
      opacity: .9;
    }
    52%, 100% {
      opacity: .9;
    }
  }
  @keyframes image-five {
    0%, 48% {
      opacity: .9;
    }
    49%, 50% {
      opacity: 1;
    }
    51%, 59% {
      opacity: 1;
    }
    60%, 61% {
      opacity: .9;
    }
    62%, 100% {
      opacity: .9;
    }
  }
  @keyframes image-six {
    0%, 58% {
      opacity: .9;
    }
    59%, 60% {
      opacity: 1;
    }
    61%, 69% {
      opacity: 1;
    }
    70%, 71% {
      opacity: .9;
    }
    72%, 100% {
      opacity: .9;
    }
  }
  @keyframes image-seven {
    0%, 68% {
      opacity: .9;
    }
    69%, 70% {
      opacity: 1;
    }
    71%, 79% {
      opacity: 1;
    }
    80%, 81% {
      opacity: .9;
    }
    82%, 100% {
      opacity: .9;
    }
  }
  @keyframes image-eight {
    0%, 78% {
      opacity: .9;
    }
    79%, 80% {
      opacity: 1;
    }
    81%, 89% {
      opacity: 1;
    }
    90%, 91% {
      opacity: .9;
    }
    92%, 100% {
      opacity: .9;
    }
  }
  @keyframes image-nine {
    0%, 88% {
      opacity: .9;
    }
    89%, 90% {
      opacity: 1;
    }
    91%, 99% {
      opacity: 1;
    }
    100% {
      opacity: .9;
    }
  }
  /*gallery*/
  /********************************/
}
/****************************************************************/
/* ipad and tablet responsive */
  @media only screen and (orientation: portrait) and (min-height: 1000px){
    #questions-section {
      height: 100%;
      position: absolute;
      padding-top: 12%;
  }
}
@media only screen and (orientation: landscape) and (min-width: 1020px){
  #questions-section {
    height: 100%;
    position: absolute;
    padding-top: 12%;
}
}