/* overall look */
html,
body {
  color: #fff;
  font-family: Helvetica, Arial;
  text-align: justify;
  width: 100%;
  min-height: 70vh;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  overflow-x: hidden;
}

/*background color of all pages except splash page*/
.bgcolor {
  background-color: #000;
}

/* overall look */
/****************************************************************/
/* splash page */
@keyframes bgcolor {
  0% {
      background-color: #000000
  }

  45% {
      background-color:  #DEB4C9
  }

  60% {
      background-color: #86AAE5
  }

  75% {
      background-color: #A0B79B
  }

  100% {
      background-color: #000000
  }
}

.index-body {
  -webkit-animation: bgcolor 30s infinite;
  animation: bgcolor 30s infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}
/****************************************************************/
/*loading animation*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  transition: opacity 0.25s, visibility 0.75s;
  z-index: 9999;
}

.loader-hidden{
  opacity: 0;
  visibility: hidden;
}

.loader::after{
  content: "";
  height: 3em;
  width: 3em;
  border-radius: 10em;
  background-color: #99F3FF;
  outline: 1px solid transparent;
  animation: pulseanim 1.2s ease-in-out infinite;
}

@keyframes pulseanim {
  0% { transform: scale(0); opacity: 0.8;}
  100% { transform: scale(1); opacity: 0;}
}
/****************************************************************/
/*web scroller*/
/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 30px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #000;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #99fdffb5;
  opacity: .1;
}
/****************************************************************/
/* timezone clocks */
.flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}
.childcity {
  flex: 1 1 calc(10% - 8px);
  height: 50%;
  padding: 3px 0;
  width: auto;
  display: block;
}
.childcity .citynameNY { /*also includes seoul*/
  background: #FFFFFF;
  background: linear-gradient(to right, #FFFFFF 0%, #99F3FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.clock {
  text-align: center;
}
.cityname {
  color: #fff;
  text-align: center;
  padding: 0.3rem;
}
p {
  text-align: center;
}
.container-fluid-timezone {
  padding: 0% 15% 2.5% 15%;
  width: 100%;
  left: 50%;
  top: 50%;
}
/* timezone clocks */
/****************************************************************/
/* navbar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidenav{
  padding: 20px 15px;
  width: 15%;
  height: 100%;
  transition-delay: 0.3s;
  transition: 0.5s ease-in-out;
  position: absolute;
  z-index: 9999;
}

.active .sidenav {
  transition: 0.5s ease-in-out;
  height: 100vh;
  width: 33%;
  position: fixed;
  /*glassmorphism*/
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  border-radius: 0px 10px 10px 0px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.btn {
  font-size: 145%;
  border: solid 1px none;
  border-radius: 9px;
  padding: 3.3px 18px 3.3px 18px;
  letter-spacing: -12.1px;
  letter-spacing: 0.3em;
}

.btn:hover,
.btn:focus,
.btn:active {
  border: solid 1px #99F3FF;
  opacity: .9;
  transition: 0.3s;
  border-radius: 9px;
  padding: 3.3px 18px 3.3px 18px;
}

@keyframes bgcolor {
  0% {
      background-color: #000000
  }

  45% {
      background-color:  #DEB4C9
  }

  60% {
      background-color: #86AAE5
  }

  75% {
      background-color: #A0B79B
  }

  100% {
      background-color: #000000
  }
}

.index-body {
  -webkit-animation: bgcolor 30s infinite;
  animation: bgcolor 30s infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}

.items {
  padding: 45px 0;
  display: none;
}

.active .items{
  display: block;
}

.items ul {
  list-style: none;
}

.items ul li {
  margin: 15px 0;
  display: block;
  height: 45px;
  transition: 0.5s ease-in;
  width: 100%;
  font-size: 16px;
  letter-spacing: 1px;
}

.items li a {
  font-family: "Poppins";
  background: -webkit-linear-gradient(right, #99F3FF, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  color: #fff;
  font-size: 39px;
  padding: 0 10px;
  letter-spacing: 1px;
}

.hello a:hover {
  /* background: rgba( 51, 51, 51, 0.3 ); */
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 3px solid rgba( 255, 255, 255, 0.18 );
}

.portfolio a:hover {
  /* background: rgba( 51, 51, 51, 0.3 ); */
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 3px solid rgba( 255, 255, 255, 0.18 );
}

.social-media a:hover {
  /* background: rgba( 51, 51, 51, 0.3 ); */
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 3px solid rgba( 255, 255, 255, 0.18 );
}

/*sfumato animation bottom of navbar*/
#sfumato {
  position:absolute;
  width:600px;
  height:36px;
  left:15%;
  top:90%;
  margin-left:-300px;
  overflow:visible;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
}

#sfumato div {
  position:absolute;
  width:20px;
  height:36px;
  opacity:0;
  font-family: "Poppins";
  animation:move 2s linear infinite;
  -o-animation:move 2s linear infinite;
  -moz-animation:move 2s linear infinite;
  -webkit-animation:move 2s linear infinite;
  transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  color:#99F3FF;
}

#sfumato div:nth-child(2) {
  animation-delay:0.2s;
  -o-animation-delay:0.2s;
  -moz-animation-delay:0.2s;
  -webkit-animation-delay:0.2s;
}
#sfumato div:nth-child(3) {
  animation-delay:0.4s;
  -o-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
}
#sfumato div:nth-child(4) {
  animation-delay:0.6s;
  -o-animation-delay:0.6s;
  -moz-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
}
#sfumato div:nth-child(5) {
  animation-delay:0.8s;
  -o-animation-delay:0.8s;
  -moz-animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
}
#sfumato div:nth-child(6) {
  animation-delay:1s;
  -o-animation-delay:1s;
  -moz-animation-delay:1s;
  -webkit-animation-delay:1s;
}
#sfumato div:nth-child(7) {
  animation-delay:1.2s;
  -o-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
}

@keyframes move {
  0% {
    left:0;
    opacity:0;
  }
	35% {
		left: 41%; 
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%; 
		-moz-transform:rotate(0deg); 
		-webkit-transform:rotate(0deg); 
		-o-transform:rotate(0deg);
		transform:rotate(0deg); 
		opacity:1;
	}
	100% {
		left:100%; 
		-moz-transform:rotate(-180deg); 
		-webkit-transform:rotate(-180deg); 
		-o-transform:rotate(-180deg); 
		transform:rotate(-180deg);
		opacity:0;
	}
}
@-moz-keyframes move {
	0% {
		left:0; 
		opacity:0;
	}
	35% {
		left:41%; 
		-moz-transform:rotate(0deg); 
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%; 
		-moz-transform:rotate(0deg); 
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%; 
		-moz-transform:rotate(-180deg); 
		transform:rotate(-180deg);
		opacity:0;
	}
}
@-webkit-keyframes move {
	0% {
		left:0; 
		opacity:0;
	}
	35% {
		left:41%; 
		-webkit-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	65% {
		left:59%; 
		-webkit-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	100% {
		left:100%;
		-webkit-transform:rotate(-180deg); 
		transform:rotate(-180deg); 
		opacity:0;
	}
}
@-o-keyframes move {
	0% {
		left:0; 
		opacity:0;
	}
	35% {
		left:41%; 
		-o-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	65% {
		left:59%; 
		-o-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	100% {
		left:100%; 
		-o-transform:rotate(-180deg); 
		transform:rotate(-180deg); 
		opacity:0;
	}
}
/****************************************************************/
/* text clock */
.container-fluid-textclock {
  padding: 8.5% 15% 0.7% 14.5%;
  width: 100%;
  left: 50%;
  top: 50%;
  margin-bottom: 19%;
  display: inline-block;
}
p,
span {
  color: #333;
  transition: color 0.4s ease-out;
  -ms-transition: color 0.4s ease-out;
  -moz-transition: color 0.4s ease-out;
  -webkit-transition: color 0.4s ease-out;
  letter-spacing: 12.1px;
  font-size: 17px;
}

#midnight {
  color: #000;
  letter-spacing: 23px;
}

#it,
#is,
span.active {
  background: #FFFFFF;
  background: linear-gradient(to right, #FFFFFF 0%, #99F3FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.4s ease-out;
  -ms-transition: color 0.4s ease-out;
  -moz-transition: color 0.4s ease-out;
  -webkit-transition: color 0.4s ease-out;
}

#text-clock {
  width: 242px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

#line-1,
#line-1 span {
  letter-spacing: 13.9px;
}
#line-2,
#line-2 span {
  letter-spacing: 11.3px;
}
#line-7,
#line-7 span {
  letter-spacing: 11.8px;
}
#line-8,
#line-8 span {
  letter-spacing: 12.3px;
}
#line-9,
#line-9 span {
  letter-spacing: 11.6px;
}
#line-10,
#line-10 span {
  letter-spacing: 11.6px;
}

.hidden {
  display: none;
}
/* text clock */
/****************************************************************/
/* digitalcube.html */
.everything-digitalcubepage {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer-link {
  font-size: 145%;
  padding: 7px 18px 7px 18px;
  border-radius: 9px;
  color: #000;
  border: solid 1px #000;
  letter-spacing: -12.1px;
  letter-spacing: 0.3em;
}

.footer-link:hover {
  font-size: 145%;
  border: solid 1px #99F3FF;
  color: #000;
  border-radius: 9px;
  padding: 7px 18px 7px 18px;
  transition: 0.3s;
}
/****************************************************************/
/* intro text and globe */
canvas {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
h1.top {
  top: 0;
  transform: translateX(-50%);
}
#main {
  opacity: 0;
  transition: 0.5s;
  color: white;
}
#rect {
  overflow: visible;
  position: relative;
  left: 20px;
  transition: transform 0.2s linear;
}

#rectleft,
#rectright {
  transform: translateX(1px) translateY(1px);
  stroke-width: 2px;
  stroke: transparent;
  fill: transparent;
}
.container-fluid-globe {
  position: relative;
  padding: 0% 15% 0% 15%;
  width: 100%;
  margin-bottom: -1.5%;
}
/****************************************************************/
/* composition page */
.composition {
  padding-top: 25%;
}
/****************************************************************/
/* questions bot page */
.questions-section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 9%;
  padding-bottom: 2rem;
}
/****************************************************************/
/* now.html */
#clock-button {
  background: none;
  border: none;

  transform: translateX(100%);
}
/****************************************************************/
/****************************************************************/
/* phone responsive */
@media only screen and (max-width: 1028px) {
  html, body {
    height: 100%;
  }
  /********************************/
  /*index.html*/
  /* timezone clocks */
  .flex {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    width: 100%;
  }
  /* textclock */
  #text-clock {
    max-height: 100%;
  }
  .container-fluid-textclock {
    width: 100%;
    display: none;
  }
  .container-fluid-timezone {
    font-size: 9px;
    letter-spacing: 9px;
    padding-bottom: 8%;
    
  }
  /* globe */
  .container-fluid-globe {
    margin-top: -9.5rem;
    margin-bottom: -6%;
  }
  /*flexbox city times*/
  .childcity {
    padding: 0px 0px 15px 0px;
  }
  .cityname {
    padding: 0px;
  }
  /*index.html*/
  /********************************/
  /* digitalcube.html */
  .countdown-ul {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: row;
    text-align: left;
  }
  #headline {
    padding: 75% 15% 5% 15%;
  }
  .footer-link {
    font-size: 135%;
    letter-spacing: -0.001em;
    border-radius: 21px;
    letter-spacing: -12.1px;
    letter-spacing: 0.2em;
  }
  .footer-link:hover {
    font-size: 135%;
    border: solid 1px #99F3FF;
    color: #000;
    border-radius: 21px;
  }
  /********************************/
  /* composition.html */
  /********************************/
  /* navbar */
  .sidenav {
    width: 50%;
  }
  .active .sidenav {
    width: 100%;
    background: rgba( 51, 51, 51, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 0px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .items li a {
    font-size: 24px;
    padding: 0 5px;
  }
  .btn {
    font-size: 130%;
    letter-spacing: -12.1px;
    letter-spacing: 0.2em;
    border-radius: 21px;
    /*glassmorphism*/
    background: rgba( 255, 255, 255, 0.15 );
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    /* border-radius: 0px 10px 10px 0px; */
    border: 1px solid #99F3FF;
  }
  .btn:hover,
  .btn:focus,
  .btn:active {
  border: solid 1px #99F3FF;
  border-radius: 21px;
}
  /********************************/
  /*questions.html*/
  .questions-section {
    display: block;
    position: relative;
    padding-top: 21%;
    margin: auto;
    width: 80%;
    padding-bottom: 2rem;
  }
  /*questions.html*/
  /********************************/
}
/****************************************************************/
/* ipad and tablet responsive */
  @media only screen and (orientation: portrait) and (min-height: 1000px){
    #questions-section {
      height: 100%;
      position: absolute;
      padding-top: 12%;
  }
}
@media only screen and (orientation: landscape) and (min-width: 1020px){
  #questions-section {
    height: 100%;
    position: absolute;
    padding-top: 12%;
}
}