/* overall look */
html,
body {
  background: #000;
  color: #fff;
  font-family: Helvetica, Arial;
  text-align: justify;
  width: 100%;
  min-height: 70vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* overall look */
/****************************************************************/
/* timezone clocks */
.flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}
.childcity {
  flex: 1 1 calc(10% - 8px);
  height: 50%;
  padding: 3px 0;
  width: auto;
  display: block;
}
.childcity .citynameNY {
  color: #99FEFF;
  opacity: .8;
}
.clock {
  text-align: center;
}
.cityname {
  color: #fff;
  text-align: center;
  padding: 0.3rem;
}
p {
  text-align: center;
}
.container-fluid-timezone {
  padding: 0% 15% 4% 15%;
  width: 100%;
  left: 50%;
  top: 50%;
}
/* timezone clocks */
/****************************************************************/
/* navbar */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close */
}
.nav-masthead .nav-link {
  color: #99FEFF !important;
  opacity: .8 !important;
  padding-top: 3rem !important;
  padding-right: 3rem !important;
  padding-left: 3rem !important;
  transition: color 0.4s ease-out;
  -ms-transition: color 0.4s ease-out;
  -moz-transition: color 0.4s ease-out;
  -webkit-transition: color 0.4s ease-out;
  letter-spacing: 11.5px;
  font-size: 17px;
  white-space: nowrap;
}
/* dropdown menu */
.dropdown-menu {
  width: 10rem;
  height: 14.5rem;
  color: #fff !important;
  border-radius: 9px !important;
  background-color: #fff !important;
  min-width: 5rem;
  margin: 0;
  line-height: 0.5rem;
  position: relative;
  padding-top: .6rem;
  padding-bottom: .6rem;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-item {
  text-align: right;
  padding-left: .3rem;
  padding-top: .8rem;
  padding-bottom: .8rem;
}
a {
  color: #333 !important;
}
#dropdown-divider {
  color: #fff !important;
}
.dropdown-item:hover {
  background-color: #99FEFF;
  opacity: .5;
  padding-top: .8rem;
  padding-bottom: .8rem;
}
header {
  position: absolute;
  right: .9rem;
  z-index: 50;
}
/* navbar */
/****************************************************************/
/* text clock */
.container-fluid-textclock {
  padding: 8.5% 15% 0.7% 14.5%;
  width: 100%;
  left: 50%;
  top: 50%;
  margin-bottom: 19%;
}
p,
span {
  color: #333;
  transition: color 0.4s ease-out;
  -ms-transition: color 0.4s ease-out;
  -moz-transition: color 0.4s ease-out;
  -webkit-transition: color 0.4s ease-out;
  letter-spacing: 12.1px;
  font-size: 17px;
}

#midnight {
  color: #000;
  letter-spacing: 23px;
}

#it,
#is,
span.active {
  color: #fff !important;
  transition: color 0.4s ease-out;
  -ms-transition: color 0.4s ease-out;
  -moz-transition: color 0.4s ease-out;
  -webkit-transition: color 0.4s ease-out;
}

#text-clock {
  width: 242px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

#line-1,
#line-1 span {
  letter-spacing: 13.9px;
}
#line-2,
#line-2 span {
  letter-spacing: 11.3px;
}
#line-7,
#line-7 span {
  letter-spacing: 11.8px;
}
#line-8,
#line-8 span {
  letter-spacing: 12.3px;
}
#line-9,
#line-9 span {
  letter-spacing: 11.6px;
}
#line-10,
#line-10 span {
  letter-spacing: 11.6px;
}

.hidden {
  display: none;
}
/* text clock */
/****************************************************************/
/* digitalcube.html */
#everything-digitalcubepage {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

#viewmore {
  padding-top: 0.5rem;
}

a,
a:hover,
a:visited,
a:focus,
a:active {
  color: #333 !important;
  text-decoration: none;
  background-color: #000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none !important;
}
/****************************************************************/
/* intro text and globe */
canvas {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
h1.top {
  top: 0;
  transform: translateX(-50%);
}
#main {
  opacity: 0;
  transition: 0.5s;
  color: white;
}
#rect {
  overflow: visible;
  position: relative;
  left: 20px;
  transition: transform 0.2s linear;
}

#rectleft,
#rectright {
  transform: translateX(1px) translateY(1px);
  stroke-width: 2px;
  stroke: transparent;
  fill: transparent;
}
.container-fluid-globe {
  position: relative;
  padding: 0% 15% 0% 15%;
  width: 100%;
  /* left: 50%; */
  /* top: 50%; */
}
/****************************************************************/
/* twitter page */
#composition-section {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 75%;
  padding-top: 7%;
  margin: 0;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/****************************************************************/
/* now.html */
#clock-button {
  background: none;
  border: none;

  transform: translateX(100%);
}
/****************************************************************/
/* mobile responsive */
@media (max-width: 1028px) {
  /* timezone clocks */
  .flex {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    width: 100%;
  }

  /* textclock */
  #text-clock {
    max-height: 100%;
  }
  .container-fluid-textclock {
    width: 100%;
  }

  /* globe */
  .container-fluid-globe {
    padding: 50% 15% 0% 15%;
  }

  /* digitalcube.html */
  .countdown-ul {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: row;
    text-align: left;
  }
  #headline {
    padding: 75% 15% 5% 15%;
  }
  .viewmore {
    padding-bottom: 15%;
  }

  /* composition.html */
  .paragraphs {
    position: relative;
    width: 100%;
  }
  .twitter {
    padding: 30px 15px 15px;
    position: relative;
    float: none;
    width: 100%;
    transform: translateY(0%);
  }

  .comp-text {
    text-align: center;
    padding: 15px 30px 15px 30px;
    float: none;
    position: relative;
    width: 100%;
  }

  .first-para {
    padding-top: 20%;
  }

  /*navbar*/
  .nav-masthead .nav-link {
    padding-top: 3rem !important;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    transition: color 0.4s ease-out;
    -ms-transition: color 0.4s ease-out;
    -moz-transition: color 0.4s ease-out;
    -webkit-transition: color 0.4s ease-out;
  }
}
